.container {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Центрирование контейнера */
}

.content {
  padding: 20px;
  flex: 1;
}
